@charset "utf-8";

/*首页*/
.banner {
    background: url(../../images/pc/ruzhu_06.png) no-repeat center;
    height: 451px;
}

.login_bg {
    /*background: url(../../images/pc/bg_08.png) no-repeat;*/
    background-color:#fff;
    border-radius: 10px;
    width: 348px;
    height: 328px;
    /*width:640px;
    height:552px;*/
    position: absolute;
    top: 140px;
    left: 60%;
}

.gonggao {
    width: 100%;
    margin: 0 auto;
    margin-top: 30px;
}

.gonggao .gonggao-con {
    width: 1000px;
    margin: 0 auto;
    background: url(../../images/pc/bgb_03.png) no-repeat center;
    display: block;
    height: 41px;
    overflow:hidden;
    font: normal 17px "微软雅黑";
}

.gonggao .gonggao-con .system_news {
    width:77%;
    float:right;
    overflow:hidden;
}

.gonggao .gonggao-con .system_news a {
    color: #313233;
    margin-right: 80px;
    line-height: 41px;
    display:inline-block;
    width:170px;
}

.gonggao .gonggao-con .more_news {
    width:10%;
    float:right;
    line-height: 41px;
}

.gonggao .gonggao-con .more_news a {
    color:#2EABE6;
}

.yewu {
    width: 100%;
    margin: 0 auto;
    margin-top: 40px;
}

.yewu .tit1 {
    width: 1100px;
    margin: 0 auto;
}

.yewy-con {
    width: 100%;
    height: 376px;
    background: #f8f8f8;
    margin: 0 auto;
    margin-top: 25px;
}

.yewy-con .con {
    width: 946px;
    height: 329px;
    margin: 0 auto;
    position: relative;
    top: 25px;
}

.wd {
    width: 287px;
    height: 329px;
    background: #eeedec;
    display: inline-block;
    margin-left: 25px;
}

.wd .p1 {
    text-align: center;
    margin: 0 auto;
    font: normal 24px "微软雅黑";
    color: #393634;
    margin-top: 40px;
}

.wd .p2 {
    width: 234px;
    line-height: 30px;
    color: #5a5756;
    font: normal 18px "微软雅黑";
    margin: 0 auto;
    line-height: 30px;
    display: block;
    margin-top: 30px;
}

.wd a {
    color: #fff;
    font: normal 18px "微软雅黑";
    line-height: 44px;
    width: 165px;
    height: 44px;
    background: #eb5f0b;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 40px;
}

.wd .p2 span {
    color: #eb5f0b;
}

.con-con3 a {
    margin-top: 90px;
}

.con-con1 a {
    margin-top: 60px;
}

.con-con3 {
    position: relative;
    top: 0px;
}

.con-con1 {
    position: relative;
}

.con-con2 {
    position: relative;
}

.con-con2 a {
    margin-top: 30px;
}

.youshi {
    width: 100%;
    margin: 0 auto;
}

.youshi-con {
    width: 1050px;
    margin: 0 auto;
    margin-top: 20px;
}

.youshi-con .dd {
    display: inline-block;
    margin-left: 60px;
    margin-top: 40px;
}

.youshi1 {
    width: 254px;
    border-bottom: 1px #d2cdcd solid;
    padding-bottom: 15px;
}

.youshi1 .bt {
    font: normal 24px "微软雅黑";
    color: #3e3c3c;
    margin: 0 auto;
}

.youshi1 .tu {
    width: 193px;
    margin: 0 auto;
    margin-top: 20px;
}

.youshi1 .tu span {
    font: normal 14px "微软雅黑";
    color: #5f5c5c;
    margin-left: 10px;
    position: relative;
    top: 5px;
    display: inline-block;
    float: right;
}

.youshi2 {
    width: 254px;
    border-bottom: 1px #d2cdcd solid;
    padding-bottom: 15px;
}

.youshi2 .bt {
    font: normal 24px "微软雅黑";
    color: #3e3c3c;
    margin: 0 auto;
}

.youshi2 .tu {
    width: 193px;
    margin: 0 auto;
    margin-top: 20px;
}

.youshi2 .tu span {
    font: normal 14px "微软雅黑";
    color: #5f5c5c;
    margin-left: 10px;
    position: relative;
    top: 5px;
    display: inline-block;
    float: right;
}

.youshi3 {
    width: 254px;
    border-bottom: 1px #d2cdcd solid;
    padding-bottom: 15px;
}

.youshi3 .bt {
    font: normal 24px "微软雅黑";
    color: #3e3c3c;
    margin: 0 auto;
}

.youshi3 .tu {
    width: 193px;
    margin: 0 auto;
    margin-top: 20px;
}

.youshi3 .tu span {
    font: normal 14px "微软雅黑";
    color: #5f5c5c;
    margin-left: 10px;
    position: relative;
    top: 5px;
    display: inline-block;
    float: right;
}

.youshi4 {
    width: 254px;
    border-bottom: 1px #d2cdcd solid;
    padding-bottom: 15px;
}

.youshi4 .bt {
    font: normal 24px "微软雅黑";
    color: #3e3c3c;
    margin: 0 auto;
}

.youshi4 .tu {
    width: 193px;
    margin: 0 auto;
    margin-top: 20px;
}

.youshi4 .tu span {
    font: normal 14px "微软雅黑";
    color: #5f5c5c;
    margin-left: 10px;
    position: relative;
    top: 5px;
    display: inline-block;
    float: right;
}

.youshi5 {
    width: 254px;
    border-bottom: 1px #d2cdcd solid;
    padding-bottom: 15px;
}

.youshi5 .bt {
    font: normal 24px "微软雅黑";
    color: #3e3c3c;
    margin: 0 auto;
}

.youshi5 .tu {
    width: 193px;
    margin: 0 auto;
    margin-top: 20px;
}

.youshi5 .tu span {
    font: normal 14px "微软雅黑";
    color: #5f5c5c;
    margin-left: 10px;
    position: relative;
    top: 5px;
    display: inline-block;
    float: right;
}

.youshi6 {
    width: 254px;
    border-bottom: 1px #d2cdcd solid;
    padding-bottom: 15px;
}

.youshi6 .bt {
    font: normal 24px "微软雅黑";
    color: #3e3c3c;
    margin: 0 auto;
}

.youshi6 .tu {
    width: 193px;
    margin: 0 auto;
    margin-top: 20px;
}

.youshi6 .tu span {
    font: normal 14px "微软雅黑";
    color: #5f5c5c;
    margin-left: 2px;
    position: relative;
    top: 5px;
    display: inline-block;
    float: right;
}

.liziz {
    width: 100%;
    margin: 0 auto;
}

.lizi-con {
    width: 1100px;
    margin: 0 auto;
    margin-top: 30px;
}

.s {
    width: 100%;
    height: 320px;
    background: #f8f8f8;
    margin-top: 30px;
}

.sh {
    width: 1150px;
    height: 250px;
    margin: 0 auto;
    position: relative;
    top: 30px;

}

.sh img {
    display: block;
    margin: 0 auto;
}

.sh div {
    width: 80px;
    height: 23px;

    text-align: center;
    padding-top: 92px;
    float: left;
    margin-left: 40px;
    margin-top: 20px;
    display: inline-block;

}

.sh div p {
    font-size: 14px;
    font-weight: normal;
    font-family: "微软雅黑";
    color: #464545;
    text-align: center;
    position: relative;
    left: -8px;
    top: -20px;
}

.wenti {
    width: 100%;
    margin: 0 auto;
}

.wenti-con {
    width: 1100px;
    margin: 0 auto;
    margin-top: 30px;
}

.question-con {
    width: 840px;
    margin: 0 auto 20px;
}

.question .question-con div {
    border-bottom: 1px dashed #a19f9f;
    padding-bottom: 8px;
    margin-top: 30px;
}

.question .question-con div .ask {
    color: #5b5a5a;
    font: bold 18px "微软雅黑";
}

.question .question-con div .da {
    color: #161515;
    font: normal 16px "微软雅黑";
    text-indent: 20px;
    line-height: 25px;
    margin-top: 5px;
}

.question .question-con div .da span {
    color: #eb5f0b;
}