/* CSS Document */

.header { width:100%; height:80px; background-color:#2E2E30;  }

.question-tit { width:1100px; margin:0 auto; }
.tit { float:left; color:#fff; line-height:80px; }
.tit .tit1 { font-size:30px; }
.tit .tit2 { font-size:20px; }
.search { float:right; line-height:80px; }
input { border:0; }
.search .search_content { width:150px; height:30px; margin-right:-5px; text-indent:10px; }
.search .search_btn { width:50px; height:30px; background-color:#F97206; }


.main{ margin-top:-6px; min-height:584px; background-color:#E9E8E6; }

.question_nav { width:1100px; margin:0 auto; background-color:#fff; }

.question_nav ul { width:90%; margin:0 auto; }
.question_nav li { display:inline-block; text-align:center; line-height:40px; width:100px; height:40px; margin:20px 0 20px 50px; background-color:#E9E8E6; cursor:pointer; }
.question_nav li:hover { background-color:#F97206; }

.question{ width:1100px; margin:10px auto 0; background-color:#fff; padding-bottom:50px; }

.content { width:80%; margin:0 auto; padding-top:30px; }



.a_cover:hover{ color:#019CEC; }


.page
{
	width:1100px;
	overflow: hidden;
	margin-top: 30px;
	margin-bottom:30px;
}
.page .seepage{ float:right; }
.page .pageup, .page .pagedown { float: left; }

.page ul{
	list-style:none;
}

.page .pageup, .page .pagedown, .page .seepage li
{
	float: left;
	padding: 10px 15px;
	text-align: center;
	border: 1px solid #DCDCDC;
}

.page .pageup:hover { background-color:#00a0e8; }
.page .pagedown:hover { background-color:#00a0e8; }
.page .seepage li:hover { background-color:#00a0e8; }

.page .pageup:hover a{ color:#FFFFFF; }
.page .pagedown:hover a{ color:#FFFFFF; }
.page .seepage li:hover a{ color:#FFFFFF; }

.page .pageup, .page .seepage li { border-right: none; }

.page .seepage li.nowpage { background: #00a0e8; }

.page .seepage li.nowpage
{
	color: #FFFFFF;
	font-weight: bold;
}