@charset "utf-8";
/* webrx CSS Document */
*{
	margin:0;
	padding:0; 
	font-family:"微软雅黑";
}
html,body{
	width:100%;
	height:100%;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}

.nav{ width:100%; height:70px; margin:0 auto;}
.nav .nav-con{ width:1100px; height:70px; margin:0 auto; }
.nav .left-con{ display:inline-block; float:left; margin-top:12px;}
.nav .mid-con{display:inline-block; position:relative; top:34px; left:9%;}
.nav .mid-con ul{ width:100%; overflow:hidden}
.nav .mid-con ul li{ list-style:none; float:left; margin-left:37px; }
.nav .mid-con ul li a{color:#262626; font:normal 16px "微软雅黑";}
.nav .mid-con ul .li1 a{ color:#187bc3;}
.nav .mid-con ul li a:hover{color:#187bc3;}
.nav .right-con{ display:inline-block; float:right; margin-top:30px; width:250px;}
.nav .right-con .span2{ color:#3b9cfd;font:bold 16px "微软雅黑"; margin-left:15px;}



.gonggao{ width:100%; margin:0 auto; margin-top:-300px;}
.gonggao .gonggao-con{ width:1000px; margin:0 auto; background:url(../images/bgb_03.png) no-repeat center; display:block;height:41px;}
.gonggao .gonggao-con span{ font:normal 17px "微软雅黑"; color:#313233; margin-left:100px; line-height:41px;}



.footer{ width:100%; height:216px; margin:0 auto; background:#666666; position:relative; top:20px;}
.footer .footer-con{ width:965px; margin:0 auto; padding-top:20px;}
.footer .footer-con .f-left{ display:inline-block; float:left; margin-top:60px;}
.footer .footer-con .f-right{ display:inline-block; float:right; margin-top:60px;}
.footer .footer-con .f-right span{ font:normal 30px "微软雅黑"; color:#bdbaba;top:-10px;left:20px; position:relative;}
.footer .footer-con .f-mid{ display:inline-block; width:510px; margin-left:40px;}
.footer .footer-con .f-mid ul { width:73px; margin-left:50px; display:inline-block;}
.footer .footer-con .f-mid ul li a{ color:#bdbaba;font:normal 14px "微软雅黑";text-align:center; line-height:28px;}
.footer .footer-con .f-mid ul li a:hover{color:#2FACFC;;}
.footer .footer-con .f-mid ul .li1 a{ color:#fff;font:normal 18px "微软雅黑"; text-align:center; margin-left:-8px;line-height:32px;}
.footer .footer-con .f-mid .ul1{ position:relative; top:20px;}
.footer .footer-con .f-mid .ul2{ position:relative; top:20px;}
.footer .footer-con .f-mid .ul3{ position:relative; top:20px;}
.footer .footer-con .f-mid p{color:#e0dbdb; font:normal 12px "微软雅黑"; text-align: center; position:relative; top:50px; left:-50px;}


/*首页*/
.banner{ background:url(../images/ruzhu_06.png) no-repeat center; height:451px; }
.login_bg{
    background:url(../images/bg_08.png) no-repeat;
    right: 0;
    width: 348px;
    height: 328px;
    position:relative;
	top:-380px;
	left:60%;
}
.p3{
    text-align: center;
    font-size:18px;
    color:#000000;
    padding: 10px 0px;
	margin-left:-240px;
	font:bold 16px "微软雅黑";
}

.agreement{height:12px;font-size:12px; margin-top:-50px;}
.agreement .ii{display:block;line-height:30px;height:12px;margin:8px 8px 0 5px;border:none;width:12px;}
.agreement b{ position:relative; top:-14px; left:18px; }
.agreement b a{color:#399bfc;}
.c_form{
    width:280px;
    margin:0px auto;
}
.c_re_lab{
    width:280px;
    height:45px;
    position: relative;
    margin-bottom:10px;
}
.c_re_lab input{
    width:242px;
    height:100%;
    font-family:"Microsoft YaHei"; 
    padding-left:38px;
    border:1px solid #78828c;
}
.c_re_lab span{
    display:inline-block;
    width:20px;
    height:20px;
    position: absolute;
    top:14px;
    left:11px;
    border-right:1px solid #78828c;
}

.c_re_lab2 input{
    width:120px;
    height:38px;
    font-family:"Microsoft YaHei"; 
    padding-left:38px;
    border:1px solid #78828c;
	margin-top:10px;
}
.c_re_lab2 .yzm{
    display: block;
    width:20px;
    height:20px;
    position: absolute;
    top:59px;
    left:178px;
    border-right:1px solid #78828c;
}


.c_phone_icon{
    background:url(../images/biao_08.png) no-repeat left center;
}
.c_pass_icon{
    background:url(../images/biao_11.png) no-repeat left center; 
}
.c_yzm_icon{
    background: url(../images/icon4.jpg) no-repeat left center; 
}
.c_re_code input{
    width:88px;
}
.c_re_code i{
    width:128px;
    display: inline-block;
    height:45px;
    border:1px solid #78828c;
    vertical-align: -14px;
    margin-left:17px;
    cursor: pointer;
}
.c_new_code input{
    width:116px;
    padding-left:10px;
}
.c_new_code b{
    background: #d1d1d1;
    font-size:13px;
    color:#848484;
    text-align: center;
    font-weight: normal;
    display: inline-block;
    width:128px;
    height:45px;
    border:1px solid #d1d1d1;
    vertical-align: 1px;
    margin-left:17px;
    line-height: 45px;
    border-radius: 2px;
    cursor: pointer;
}
.sub  a{
    display: block;
    height:49px;
    background:#3a9cfd;
    width:282px;
    text-align: center;
    line-height: 45px;
    color:#fff;
    font-size:16px;
	position:relative; 
	top:30px;
}

.yewu{ width:100%; margin:0 auto; margin-top:40px;}
.yewu .tit1{ width:1100px; margin:0 auto;}

.yewy-con{ width:100%; height:376px; background:#f8f8f8; margin:0 auto; margin-top:25px;}
.yewy-con .con{width:946px; height:329px; margin:0 auto; position:relative; top:25px;}
.wd{ width:287px; height:329px; background:#eeedec;display:inline-block; margin-left:25px;}
.wd .p1{ text-align:center; margin:0 auto;font:normal 24px "微软雅黑"; color:#393634; margin-top:40px;}
.wd .p2{ width:234px; line-height:30px; color:#5a5756;font:normal 18px "微软雅黑";  margin:0 auto; line-height:30px; display:block; margin-top:30px;}
.wd a{ color:#fff;font:normal 18px "微软雅黑"; line-height:44px; width:165px; height:44px; background:#eb5f0b; display:block; text-align:center; margin:0 auto; margin-top:40px;}
.wd .p2 span{ color:#eb5f0b;}
.con-con3 a{ margin-top:90px;}
.con-con1 a{ margin-top:60px;}
.con-con3{ position:relative; top:0px;}
.con-con1{ position:relative;}
.con-con2{ position:relative;}
.con-con2 a{ margin-top:30px;}

.youshi{ width:100%; margin:0 auto;}
.youshi-con{ width:1050px; margin:0 auto; margin-top:20px;}
.youshi-con .dd{ display:inline-block; margin-left:60px;margin-top:40px;}
.youshi1{ width:254px; border-bottom:1px #d2cdcd solid; padding-bottom:15px;}
.youshi1 .bt{font:normal 24px "微软雅黑"; color:#3e3c3c; margin:0 auto;}
.youshi1 .tu{ width:193px; margin:0 auto; margin-top:20px;}
.youshi1 .tu span{font:normal 14px "微软雅黑"; color:#5f5c5c; margin-left:10px; position:relative; top:5px;display:inline-block; float:right;}

.youshi2{ width:254px; border-bottom:1px #d2cdcd solid; padding-bottom:15px;}
.youshi2 .bt{font:normal 24px "微软雅黑"; color:#3e3c3c; margin:0 auto;}
.youshi2 .tu{ width:193px; margin:0 auto; margin-top:20px;}
.youshi2 .tu span{font:normal 14px "微软雅黑"; color:#5f5c5c; margin-left:10px; position:relative; top:5px;display:inline-block; float:right;}

.youshi3{ width:254px; border-bottom:1px #d2cdcd solid; padding-bottom:15px;}
.youshi3 .bt{font:normal 24px "微软雅黑"; color:#3e3c3c; margin:0 auto;}
.youshi3 .tu{ width:193px; margin:0 auto; margin-top:20px;}
.youshi3 .tu span{font:normal 14px "微软雅黑"; color:#5f5c5c; margin-left:10px; position:relative; top:5px;display:inline-block; float:right;}

.youshi4{ width:254px; border-bottom:1px #d2cdcd solid; padding-bottom:15px;}
.youshi4 .bt{font:normal 24px "微软雅黑"; color:#3e3c3c; margin:0 auto;}
.youshi4 .tu{ width:193px; margin:0 auto; margin-top:20px;}
.youshi4 .tu span{font:normal 14px "微软雅黑"; color:#5f5c5c; margin-left:10px; position:relative; top:5px;display:inline-block; float:right;}

.youshi5{ width:254px; border-bottom:1px #d2cdcd solid; padding-bottom:15px;}
.youshi5 .bt{font:normal 24px "微软雅黑"; color:#3e3c3c; margin:0 auto;}
.youshi5 .tu{ width:193px; margin:0 auto; margin-top:20px;}
.youshi5 .tu span{font:normal 14px "微软雅黑"; color:#5f5c5c; margin-left:10px; position:relative; top:5px;display:inline-block; float:right;}

.youshi6{ width:254px; border-bottom:1px #d2cdcd solid; padding-bottom:15px;}
.youshi6 .bt{font:normal 24px "微软雅黑"; color:#3e3c3c; margin:0 auto;}
.youshi6 .tu{ width:193px; margin:0 auto; margin-top:20px;}
.youshi6 .tu span{font:normal 14px "微软雅黑"; color:#5f5c5c; margin-left:10px; position:relative; top:5px;display:inline-block; float:right;}

.liziz{ width:100%; margin:0 auto;}
.lizi-con{ width:1100px; margin:0 auto; margin-top:30px;}

.s{ width:100%; height:320px; background:#f8f8f8; margin-top:30px;}
.sh{
	width:1150px;
	height:250px;
	margin:0 auto;
	position:relative; 
	top:30px;
	
}
.sh img{
	display:block;
	margin:0 auto;
}
.sh div{
	width:80px;
	height:23px;
	
	text-align: center;
	padding-top:92px;
	float:left;
	margin-left:40px;
	margin-top:20px;
	display:inline-block;
	
}
.sh div p{font-size:14px;
	font-weight:normal;
	font-family:"微软雅黑";
	color:#464545;
	text-align:center;
	position:relative;
	left:-8px;
	top:-20px;
 }
 
 .wenti{ width:100%; margin:0 auto;}
.wenti-con{ width:1100px; margin:0 auto; margin-top:30px;}

.question{ width:100%; margin:0 auto; margin-top:30px;}
.question-con{ width:840px; margin:0 auto;}
.question .question-con div{ border-bottom:1px dashed #a19f9f; padding-bottom:8px; margin-top:30px;}
.question .question-con div .ask{ color:#5b5a5a; font:bold 18px "微软雅黑";}
.question .question-con div .da{color:#161515; font:normal 16px "微软雅黑";text-indent:20px; line-height:25px; margin-top:5px;}
.question .question-con div .da span{ color:#eb5f0b;}

/*开店*/

.banner_x{ background:url(../images/banner1_02.jpg) no-repeat center; height:547px; }
.con1{ width:100%; margin:0 auto; margin-top:50px;}
.con1 .con-con{ width:670px; margin:0 auto; display:block;}

.con2{ width:100%; margin:0 auto; margin-top:50px; background:#f9f8f8; padding:40px 0px 40px 0px;}
.con2 .con-con{ width:670px; margin:0 auto; display:block;}

.con3{ width:100%; margin:0 auto; margin-top:50px;}
.con3 .con-con{ width:670px; margin:0 auto; display:block;}
.con3 .con-con .img2{ width:355px; margin:0 auto; display:block; margin-left:150px;}

.second{ width:100%; margin:0 auto;margin-top:50px;}
.sec-con{ width:1021px; margin:0 auto; margin-top:30px;}
.sec-con a{ color:#fff; background:url(../images/anniu_05.png) no-repeat center; width:220px; height:54px; text-align:center; position:relative;display:inline-block;float:right;
top:-90px; font:normal 20px "微软雅黑"; right:130px; line-height:54px;}
.sec-con a:hover{ color:#F8FF0F;}

.youshi{ width:100%; margin:0 auto; background:#f5f4f4; height:415px; margin-top:40px;}
.youshi-con1{ width:1100px; margin:0 auto;}
.youshi-con1 .img{ display:block; margin:0 auto; position:relative; top:30px;width:333px; height:52px;}
.youshi-con1 ul{ position:relative; top:50px;width:1100px; height:275px;}
.youshi-con1 ul li{ list-style:none; margin-left:28px; float:left; background:url(../images/bg_05.png) no-repeat center; width:232px; height:275px;}
.youshi-con1 ul li img{ display:block; margin:0 auto; margin-top:45px;}
.youshi-con1 ul li p{ color:#1e1d1d; font:normal 18px "微软雅黑"; text-align:left; margin-top:70px; width:190px; margin-left:25px; line-height:25px;}
.youshi-con1 ul li:hover{ background:url(../images/bg_03.png) no-repeat center; cursor:pointer;}
.youshi-con1 ul li:hover p{color:#fff;}

.tit{ width:100%; margin-top:60px;}
.tit p{ font:bold 33px "微软雅黑"; color:#031f56; position:relative;text-align: center;}
.tit img{display: block;width:100%;height: auto;display:block; margin-top:15px;}

.lizi{ width:100%; margin:0 auto; margin-top:40px;}
.lizi .lizi-con{ width:1100px; margin:0 auto;}
.lizi .lizi-con .left-1{ display:inline-block; float:left; background:url(../images/hh_03.png) no-repeat center; display:block; }
.lizi .lizi-con .l-con{ margin-left:10px;width:540px; height:221px;}
.lizi .lizi-con .l-con .p1{ font:normal 22px "造字工房朗倩（非商用）细体","微软雅黑"; color:#e64d3d;}
.lizi .lizi-con .l-con .p2{ font:normal 16px "微软雅黑"; color:#686864; line-height:27px;}
.lizi .lizi-con .right-1{ display:inline-block; float:right; background:url(../images/hh_05.png) no-repeat center; display:block;}
.lizi .lizi-con .left-1 .p{ display:block; position:relative; left:180px; top:20px;}
.lizi .lizi-con .left-1 .p1{ margin-left:50px; line-height:60px;}
.lizi .lizi-con .right-1 .p{ display:block; position:relative; left:50px; top:20px;}
.lizi .lizi-con .right-1 .p1{ margin-left:50px; line-height:60px;}


.lizi .lizi-con .left-2{ display:inline-block; float:left; background:url(../images/hh_031.png) no-repeat center; display:block; margin-top:20px;}
.lizi .lizi-con .l-con{ margin-left:10px;width:540px; height:221px;}
.lizi .lizi-con .l-con .p1{ font:normal 22px "造字工房朗倩（非商用）细体","微软雅黑"; color:#e64d3d;}
.lizi .lizi-con .l-con .p2{ font:normal 16px "微软雅黑"; color:#686864; line-height:27px;}
.lizi .lizi-con .right-2{ display:inline-block; float:right; background:url(../images/hh_051.png) no-repeat center; display:block;margin-top:20px;}
.lizi .lizi-con .left-2 .p{ display:block; position:relative; left:180px; top:20px;}
.lizi .lizi-con .left-2 .p1{ margin-left:50px; line-height:60px;}
.lizi .lizi-con .right-2 .p{ display:block; position:relative; left:50px; top:20px;}
.lizi .lizi-con .right-2 .p1{ margin-left:50px; line-height:60px;}

.guanggao{ width:100%;height:740px;margin:0 auto; position:relative; top:40px;}
.guanggao-con{ width:1091px; height:194px; margin:0 auto;}
.guanggao-con .left-g{ display:inline-block; float:left;background:url(../images/guanggao_031.png) no-repeat center; display:block; width:557px; height:194px;}
.guanggao-con .left-g p{ color:#f7f6f6; font:bold 32px "微软雅黑"; position:relative; top:40px; left:150px; }
.guanggao-con .left-g a{ color:#404040; font:normal 24px "微软雅黑"; background:#fff; width:209px; height:43px; display:block; text-align:center; line-height:43px; margin-top:20px;
position:relative; top:40px; left:150px; 
}
.guanggao-con .left-g a:hover{ color:#F8070B;}

.guanggao-con .right-g{ display:inline-block; float:right;background:url(../images/guanggao_032.png) no-repeat center; display:block; width:550px; height:194px; margin-top:-194px;}
.guanggao-con .right-g p{ color:#f9e2cc; font:bold 32px "微软雅黑"; position:relative; top:40px;left:150px;}
.guanggao-con .right-g a{ color:#fff; font:normal 24px "微软雅黑"; background:#db3c3a; width:209px; height:43px; display:block; text-align:center; line-height:43px; margin-top:20px;
 position:relative; top:40px;left:150px;
}
.guanggao-con .right-g a:hover{ color:#FBF202;}
.guanggao{ width:100%;height:740px;margin:0 auto; position:relative; top:40px;}
.guanggao-con{ width:1091px; height:194px; margin:0 auto;}
.guanggao-con .left-g{ display:inline-block; float:left;background:url(../images/guanggao_031.png) no-repeat center; display:block; width:557px; height:194px;}
.guanggao-con .left-g p{ color:#f7f6f6; font:bold 32px "微软雅黑"; position:relative; top:40px; left:150px; }
.guanggao-con .left-g a{ color:#404040; font:normal 24px "微软雅黑"; background:#fff; width:209px; height:43px; display:block; text-align:center; line-height:43px; margin-top:20px;
position:relative; top:40px; left:150px; 
}
.guanggao-con .left-g a:hover{ color:#F8070B;}

.guanggao-con .right-g{ display:inline-block; float:right;background:url(../images/guanggao_032.png) no-repeat center; display:block; width:550px; height:194px; margin-top:-194px;}
.guanggao-con .right-g p{ color:#f9e2cc; font:bold 32px "微软雅黑"; position:relative; top:40px;left:150px;}
.guanggao-con .right-g a{ color:#fff; font:normal 24px "微软雅黑"; background:#db3c3a; width:209px; height:43px; display:block; text-align:center; line-height:43px; margin-top:20px;
 position:relative; top:40px;left:150px;
}
.guanggao-con .right-g a:hover{ color:#FBF202;}

/*分销*/

.banner2{ background:url(../images/dt_02.png) no-repeat center; height:561px; }
.tit1{ width:100%; margin:0 auto;}
.t1{ width:411px; margin:0 auto; margin-top:40px;}

.nj1{ width:483px; margin:0 auto;}
.nj1 img{ display:block; margin-top:50px;}


.youshi{ width:100%; margin:0 auto; background:#f8f7f7; height:470px; margin-top:20px;}
.youshi .youshi-con{ position: relative;width: 1000px;height: 400px;margin:0 auto;overflow: hidden; top:30px;}
.youshi .youshi-con ul{position: absolute;left: 0;top: 0;width: 1000px;}
.youshi .youshi-con ul li{ list-style:none; float:left; margin-left:3px;width: 315px;height: 402px;padding-right: 15px;background:url(../images/d-solutionitem-shadow.png) center bottom no-repeat;}
.youshi .youshi-con ul li .li-con{width: 265px;height: 337px;padding: 45px 25px 0 25px;background:url(../images/d-solutionitem.png) no-repeat; margin-top:20px;}

.youshi .youshi-con ul li .li-con h5{font: 25px/50px 'microsoft yahei';color: #333;text-align: center;}
.youshi .youshi-con ul li .li-con h5 span{ color:#c20009;}
.youshi .youshi-con ul li .li-con .tu a{color: #666;text-decoration: none;}
.youshi .youshi-con ul li .li-con .tu a i{display: block;width: 171px;height: 155px;margin: 15px auto;background:url(../images/d-solution-icon.png) no-repeat;}
.youshi .youshi-con ul li .li-con .tu a .ico-solution2{background-position: -171px 0;}
.youshi .youshi-con ul li .li-con .tu a .ico-solution3{background-position: -342px 0;}
.youshi .youshi-con ul li .li-con p{font: 13px/23px 'microsoft yahei';color: #999; text-align:center; margin-top:25px;}
.youshi .youshi-con ul li .li-con:hover{ margin-top:0px; -webkit-transition:all .4s ease-in 0s;}



.anli{ width:100%; height:651px; margin:0 auto; background:url(../images/bg_02.jpg) no-repeat center; margin:0 auto; margin-top:50px;}
.anli-con{ width:1108px; height:570px; margin:0 auto; position:relative; top:44px;}

.guanggao1{ width:100%; margin:0 auto; margin-top:40px;}